{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block template_styles %}
<style>
.quiz-card {
    font-size: 1rem;
    padding: 10px 5px;
}

#all-quizes {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
</style>
{% endblock template_styles %}

{% block content %}
<div class="detail-container">
    <div class="category-detail">
        <h1>You are viewing all quizes of category: {{ category.name }}</h1>
        <div id="all-quizes">
        {% for quiz in category.quiz_set.all %}
            <a href="{% url 'quiz:quiz_detail' quiz.id %}" class="quiz-card">{{ quiz.title }}</a>
        {% endfor %}
        </div>
    </div>
    <div id="other-categories">
        <h1>See other categories</h1>
        {% for category in other_categories %}
            <a href="{% url 'quiz:category_detail' category.id %}" class="btn">{{ category.name }}</a>
        {% empty %}
            <p>No categories yet...</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block template_scripts %}
{% endblock template_scripts %}