{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
{% if user.profile and user.profile.is_moderator %}
<h1>List of violation reports</h1>
{% with user.profile.assigned_notifications as reports %}
<a href="{% url 'quiz:violations_list' %}" class="btn start-btn">{{ reports|length }} pending</a>
{% endwith %}
{% endif %}
<h1>Choose one from our categories</h1>
<div class="quiz-cards-containter">
            {% for category in categories %}
             <a class="quiz-card main-text" href="{% url 'quiz:category_detail' category.id %}">
                 <h1>{{ category.name }}</h1>
             </a>
             {% empty %}
             <h3>No categories...</h3>
             {% endfor %}
</div>

<h1>or one from our most popular quizes</h1>
<div class="quiz-cards-containter">
            {% for quiz in most_popular %}
                <a class="quiz-card" href="{% url 'quiz:quiz_detail' quiz.id %}">
                    <h1 class="main-text">{{ quiz.title }}</h1>
                    <p class="sub-text">Difficulty: {{ quiz.get_difficulty_display }}</p>
                </a>
            {% empty %}
                <h3>No categories...</h3>
            {% endfor %}
</div>
{% endblock content %}