{% extends 'base.html' %}
{% block title %} {{quiz.name}}{% endblock title %}
{% block template_styles %}
<style>
body {
    overflow-x: hidden;
}
.form-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3000px;
    transition: all 0.3s ease-in-out;
}

.form-container.form__active {
    transform: translateX(3000px)
}

.form-container.form__inactive {
    transform: translateX(6000px)
}

/* .form-container .panel__active {
    transform: translateX(-6000px)
} */

.form-container > * {
    margin: 5px;
    border-radius: 5px;
    padding: 10px 25px;
}


.form-container .answers_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.form-container .answers_container > button.answer_btn {
    flex: 0 34%;
    margin: 10px;
    padding: 20px 10px;
}

span.timer {
    display: inline-block;
    font-size: 2rem;
}
</style>
{% endblock template_styles %}
{% block content %}
{% if quiz %}
<div id="stage0" class="form-container">
  <button id="start-btn" class="btn start-btn">Start game!</button>
</div>
{% for question in quiz.questions.all %}
  <div id="stage{{question.id}}" class="form-container" data-question_id={{question.id}}>
    <span class="timer">20</span>
    <span class="question-title">{{ question.question_text|safe }}</span>
    <div class="answers_container">
        {% for option in question.options.all %}
          <button class="answer_btn" value="{{option.id}}">{{option.answer_text|safe}}</button>
        {% endfor %}
    </div>
  </div>
{% endfor %}
{% else %}
  <p>No items available.</p>
{% endif %}

{% endblock content %}

{% block template_scripts %}
<script>
  var stages = document.querySelectorAll("div.form-container");
  var current_stage = 0;
  var formData = [];
  var timeleft = 200;

  var start_btn = document.querySelector("button#start-btn")
  if (stages) {
      stages[0].classList.toggle("form__active");
      start_btn.addEventListener("click", function () {
          nextStage();
      });
  }


  function nextStage() {
      if (current_stage < stages.length - 1) {
          let ans_btns = stages[current_stage + 1].querySelectorAll("button.answer_btn");
          [].forEach.call(ans_btns, function (btn) {
              btn.addEventListener("click", function () {
                  formData.push({"question_id": stages[current_stage].getAttribute("data-question_id"), "option_id": this.value, "answer_time": 200-timeleft})
                  nextStage();
              });
          });
          stages[current_stage].classList.toggle("form__active");
          stages[current_stage].classList.toggle("form__inactive");
          let timer_container = stages[current_stage + 1].querySelector("span.timer")
          stages[current_stage + 1].classList.toggle("form__active");
          clearInterval(window.timer_func);
          timeleft = 200;
          current_stage += 1;
          timer(timer_container, nextStage);
      } else {
          finishGame();
          clearInterval(window.timer_func);
      }
  }

  function finishGame() {
    console.log({
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "formData": formData
      })
      postData(url="{% url 'quiz:calculate_score' quiz.pk %}", 
      data={
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "formData": formData
      })
  }

  function timer(element, button_to_click) {
      window.timer_func = setInterval(function () {
          element.innerHTML = Math.round(timeleft/10);
          timeleft -= 1;
          if (timeleft == 0) {
              clearInterval(timer_func);
              element.innerHTML = "Time's out!"
              if (current_stage < stages.length - 1) {
                  nextStage();
              } else {
                  finishGame();
              }
          }
      }, 100);
  }

async function postData(url = '', data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      headers: {
          'Content-Type': 'application/json',
          "X-CSRFToken": "{{csrf_token}}"
      },
      redirect: 'follow', // manual, *follow, error
      body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return await window.location.replace(response.url);; // parses JSON response into native JavaScript objects
}
</script>
{% endblock template_scripts %}