{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block template_styles %}
<style>
table.leaderboard {
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}

.quiz-details > * {
    margin: 5px;
}

</style>
{% endblock template_styles %}

{% block content %}
<div class="detail-container">
    <div class="quiz-details">
        <h1 class="main-text" id="quiz-title">Quiz title: {{ quiz.title }}</h1>
        <div class="tag {{ quiz.get_difficulty_display }}">{{ quiz.get_difficulty_display }}</div>
        <p class="sub-text"> submited by: {{ quiz.author }}</p>
        {% if quiz.description %}
        <p class="sub-text" id="quiz-description">
            {{ quiz.desription }}
        </p>
        {% endif %}
        <p>Played {{ quiz.times_played }} time{{ quiz.times_played|pluralize }}</p>
        <a href="{% url 'quiz:quiz_game' quiz.id %}" class="btn start-btn">Play!</a>
        <div id="other-quizes">
            <h2>See other quizes of that type:</h2>
            {% for category in quiz.categories.all %}
                <a class="btn" href="{% url 'quiz:category_detail' category.id %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="leaderboard">
        <h1 class="main-text">Leaderboard:</h1>
        {% if quiz.scores %}
        <table class="leaderboard">
            <thead>
                <th>#</th>
                <th>username</th>
                <th>score</th>
                <th>date</th>
            </thead>
            <tbody>
            {% for score in quiz.top_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ score.user.username }}</td>
                    <td>{{ score.score_value|floatformat:2 }}</td>
                    <td>{{ score.date_finished }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>There are no scores yet..</p>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'quiz:report_abuse' quiz.pk %}" class="btn">Report abuse</a>
    </div>
</div>
{% endblock content %}

{% block template_scripts %}
{% endblock template_scripts %}