{% extends 'base.html' %}

{% block title %}
Report quiz for abuse
{% endblock %}

{% block template_styles %}
{% endblock %}

{% block content %}
    <h1>Report violation of rules for quiz <em>{{ quiz.title }}</em></h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn start-btn" value="Submit">
    </form>
{% endblock %}

{% block template_scripts %}
{% endblock %}