{% extends 'base.html' %}

{% block title %}
List of reported quizes
{% endblock %}

{% block template_styles %}
{% endblock %}

{% block content %}
    <div class="quiz-card-container">
    {% for violation in violations %}
        <div class="quiz-card">
            <a href="{% url 'quiz:violation_detail' violation.pk %}">
                Quiz <em>{{ violation.quiz.title }}</em> reported at {{ violation.timestamp|date:"Y-m-d H:i" }}
            </a>
        </div>
    {% empty %}
        <p>No active violation notifications</p>
    {% endfor %}
    </div>
{% endblock %}

{% block template_scripts %}
{% endblock %}