{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block template_styles %}
{% endblock %}

{% block content %}
    <div class="quiz-card-container">
        <div class="quiz-card">
            <h1>Violation notification</h1>
            <p><strong>For:</strong></p>
            <p><a href="{% url 'quiz:quiz_detail' violation.quiz.pk %}"><em>{{ violation.quiz.title }}</em></a></p>
            <p><strong>Issued:</strong></p>
            <p>{{ violation.timestamp|date:"Y-m-d H:i" }}</p>
            <p><strong>Reason:</strong></p>
            <p>{{ violation.description }}</p>
            <br>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="submit" class="btn" value="Dismiss" name="decision">
                <input type="submit" class="btn" value="Accept" name="decision">
                <input type="hidden" name="id" value="{{ violation.id }}">
            </form>
        </div>
    </div>
{% endblock %}

{% block template_scripts %}
{% endblock %}
