{% extends 'base.html' %}

{% block title %}
{{ profile.user.username }}'s profile
{% endblock %}

{% block content %}
<h1>{{ profile.user.username }}</h1>
<hr>

<h2>Total score: {{ profile.total_score|floatformat:2 }}</h2>
<br>

<h2>Quizes created</h2>
<hr>
<div class="quiz-card-container">
{% for quiz in profile.quizes_created %}
    <div class="quiz-card">
        {% if quiz.under_moderation %}
            <p><strong class="main-text">Your quiz has been reported!</strong></p>
        {% elif quiz.removed %}
            <p><strong class="main-text">Your quiz has been removed for rules violation!</strong></p>
        {% endif %}
       <p>{{ quiz.title }}</p>
    </div>
{% empty %}
    <div class="quiz-card">
        <p>Nothing here!</p>
        <a href="#">Create a quiz!</a>
    </div>
{% endfor %}
</div>
<br>

<h2>Quizes played</h2>
<hr>
<div class="quiz-card-container">
{% for quiz_score in profile.quizes_taken %}
    <div class="quiz-card">
        <p>{{ quiz_score.quiz.title }}</p>
        <p>Your score: {{ quiz_score.score_value }}</p>
    </div>
{% empty %}
    <div class="quiz-card">
        <p>Nothing here!</p>
        <a href="#">Find a quiz to play!</a>
    </div>
{% endfor %}
</div>
{% endblock %}