body {
  --main-color: #23f0c7;
  --second-color: #ef767a;
  --third-color: #7d7abc;
  --fourth-color: #6457a6;
  --fifth-color: #ffe347;
  --text-color: rgb(255, 249, 195);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body.dark {
  --main-color: #136654;
  --second-color: #663637;
  --third-color: #252230;
  --fourth-color: #120e19;
  --fifth-color: #756925;
  --text-color: rgb(173, 143, 143);
  --shadow-color: rgba(170, 170, 170, 0.25);
}

/* Utilities - start */
.quiz-cards-containter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.quiz-card {
  text-decoration: none;
  color: inherit;
  background: var(--second-color);
  padding: 30px 20px;
  margin: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0px 4px 0px var(--shadow-color);
}

.detail-container {
  width: 90%;
  background: var(--third-color);
  padding: 30px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
  align-items: start;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: var(--fourth-color);
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px;
}

.main-text {
  font-weight: 600px;
  font-size: 1.5rem;
}

.sub-text {
  font-weight: 400px;
  font-size: 1rem;
}

.tag {
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

.easy {
  background: green;
}

.medium {
  background: rgb(189, 192, 0);
}

.hard {
  background: red;
}

.start-btn {
  background: var(--main-color);
  font-size: 1.5rem;
  font-weight: 800;
}
/* Utilities - end */


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--fourth-color);
}

header {
  width: 100%;
}

header nav {
  font-weight: 600;
  height: 70px;
  width: 90%;
  background: var(--main-color);
  margin: 0 auto;
  padding: 5px 10px;
  box-shadow: 0px 4px 0px var(--shadow-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .brand-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 30%;
  text-decoration: none;
  color: inherit;
}

header nav a.brand-container svg.brand-logo {
  height: 100%;
}

header nav .brand-container .brand-text {
  font-size: 2rem;
  text-shadow: 0px 4px 10px var(--shadow-color);
}

header nav button#dark-switch {
  min-height: 30px;
  margin: 0 auto;
  background: var(--third-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

header nav .user-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .user-container span {
  font-size: 1.5rem;
}

header nav .user-container svg#dropdown-icon {
  cursor: pointer;
  height: 8px;
}

header nav .dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: 0;
  max-height: 0px;
  width: 100px;
  background: var(--main-color);
  border-radius: 5px;
  transition: visibility 0s, height 0.3s ease-in-out;
}

header nav .dropdown-menu ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

header nav .dropdown-menu ul li {
  margin: 5px;
}

header nav .dropdown-menu ul li a {
  text-decoration: none;
  color: inherit;
}

header nav .dropdown-menu.menu__active {
  max-height: 500px;
  visibility: visible;
}

section.dynamic-content-container {
  width: 90%;
  min-height: calc(100vh - 240px);
  height: 100%;
  margin: 70px auto 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: flex-end; */
}

footer {
  font-weight: 600;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}

@media (max-width: 623px) {
  html {
      font-size: 10px;
  }
}

